# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.web_renthouse_khalifa_sami.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Saaam\Documents\Vs Project\RentHouse_Project_Khalifa_Sami\web_renthouse_khalifa_sami\.idea\.idea.web_renthouse_khalifa_sami.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
